<%- include('header') -%>

<div class="page-wrapper">
<div class="content">
<div class="row">
<div class="col-lg-3 col-sm-6 col-12">
<div class="dash-widget dash2">
<div class="dash-widgetimg">
    <span><img src="assets/img/icons/dash3.svg" alt="img"></span>
</div>
<div class="dash-widgetcontent">
    <h5>Rs <span class="counters" data-count="<%= totalEarnings.toFixed(2) %>"><%= totalEarnings.toFixed(2) %></span></h5>
    <h6 data-i18n="dash.total_earnings">Total Earnings</h6>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="dash-widget dash3">
<div class="dash-widgetimg">
    <span><img src="assets/img/icons/dash4.svg" alt="img"></span>
</div>
<div class="dash-widgetcontent">
    <h5>Rs <span class="counters" data-count="<%= totalExpenses.toFixed(2) %>"><%= totalExpenses.toFixed(2) %></span></h5>
    <h6 data-i18n="dash.total_expenses">Total Expenses</h6>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12">
<div class="dash-widget dash1">
<div class="dash-widgetimg">
    <span><img src="assets/img/icons/dash2.svg" alt="img"></span></div>
<div class="dash-widgetcontent">
    <h5><span class="counters" data-count="<%= totalOrders %>"><%= totalOrders %></span></h5>
    <h6 data-i18n="dash.total_orders">Total Orders</h6>
</div>
</div>
</div>

<div class="col-lg-3 col-sm-6 col-12">
    <div class="dash-widget">
    <div class="dash-widgetimg">
    <span><img src="assets/img/icons/dash1.svg" alt="img"></span>
    </div>
    <div class="dash-widgetcontent">
        <h5><span class="counters" data-count="<%= totalPurchases %>"><%= totalPurchases %></span></h5>
        <h6 data-i18n="dash.total_purchases">Total Purchases</h6>
    </div>
    </div>
    </div>
<!-- <div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count">
<div class="dash-counts">
<h4>100</h4>
<h5>Customers</h5>
</div>
<div class="dash-imgs">
<i data-feather="user"></i>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count das1">
<div class="dash-counts">
<h4>100</h4>
<h5>Suppliers</h5>
</div>
<div class="dash-imgs">
<i data-feather="user-check"></i>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count das2">
<div class="dash-counts">
<h4>100</h4>
<h5>Total orders</h5>
</div>
<div class="dash-imgs">
<i data-feather="file-text"></i>
</div>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-12 d-flex">
<div class="dash-count das3">
<div class="dash-counts">
<h4>105</h4>
<h5>Total tranction</h5>
</div>
<div class="dash-imgs">
<i data-feather="file"></i>
</div>
</div>
</div> -->
</div>

<div class="row">
<div class="col-lg-7 col-sm-12 col-12 d-flex">
<div class="card flex-fill">
<div class="card-header pb-0 d-flex justify-content-between align-items-center">
<h5 class="card-title mb-0" data-i18n="dash.purchase_sales">Purchase & Sales</h5>
<div class="graph-sets">
<ul>
<li>
<span data-i18n="dash.sales">Sales</span>
</li>
<li>
<span data-i18n="dash.purchase">Purchase</span>
</li>
</ul>
<div class="dropdown">
<button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
 2022 <img src="assets/img/icons/dropdown.svg" alt="img" class="ms-2">
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<li>
<a href="javascript:void(0);" class="dropdown-item">2022</a>
</li>
<li>
<a href="javascript:void(0);" class="dropdown-item">2021</a>
</li>
<li>
<a href="javascript:void(0);" class="dropdown-item">2020</a>
</li>
</ul>
</div>
</div>
</div>
<div class="card-body">
<div id="sales_charts"></div>
</div>
</div>
</div>
<div class="col-lg-5 col-sm-12 col-12 d-flex">
    <div class="card flex-fill">
        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0" data-i18n="dash.most_sold">Most Sold Items</h4>
            <div class="dropdown">
                <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a href="productlist.html" class="dropdown-item">Product List</a></li>
                    <li><a href="addproduct.html" class="dropdown-item">Product Add</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive dataview">
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th data-i18n="dash.sno">Sno</th>
                            <th data-i18n="dash.item">Item</th>
                            <th data-i18n="dash.quantity">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% mostPopularItems.forEach((item, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= item.item %></td>
                                <td><%= item.quantity %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</div>

<div class="row">
<div class="col-lg-4 col-sm-12 col-12 d-flex">
    <div class="card flex-fill">
        <div class="card-header pb-0">
            <h4 class="card-title mb-0" data-i18n="dash.orders_by_type">Orders by Type</h4>
        </div>
        <div class="card-body">
            <div id="orders_chart"></div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-12 col-12 d-flex">
    <div class="card flex-fill">
        <div class="card-header pb-0">
            <h4 class="card-title mb-0" data-i18n="dash.expenses_by_category">Expenses by Category</h4>
        </div>
        <div class="card-body">
            <div id="expenses_chart"></div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-12 col-12 d-flex">
    <div class="card flex-fill">
        <div class="card-header pb-0">
            <h4 class="card-title mb-0" data-i18n="dash.net_profit">Net Profit</h4>
        </div>
        <div class="card-body d-flex align-items-center justify-content-center" style="min-height:200px">
            <h2 style="font-size:3rem;color:<%= netProfit >= 0 ? '#28c76f' : '#ea5455' %>">Rs <%= netProfit.toFixed(2) %></h2>
        </div>
    </div>
</div>
</div>

<div class="card mb-0">
<div class="card-body">
<h4 class="card-title" data-i18n="dash.list_items">List of items</h4>
<div class="table-responsive">
    <table class="table  datanew">
    <thead>
    <tr>
    <th>
    <label class="checkboxs">
    <input type="checkbox" id="select-all">
    <span class="checkmarks"></span>
    </label>
    </th>
    <th data-i18n="dash.item">Item Name</th>
    <th data-i18n="dash.category">Catagore</th>
    <th data-i18n="dash.subcategory">Sub Category </th>
    <th data-i18n="dash.price">price</th>
    <th data-i18n="dash.action">Action</th>
    </tr>
    </thead>
    <tbody>
    
    
    <% menus.forEach(menu => { %>
        <tr>
            <td>
                <label class="checkboxs">
                    <input type="checkbox">
                    <span class="checkmarks"></span>
                </label>
            </td>
            <td class="productimgname">
                <a href="javascript:void(0);"><%= menu.item %></a>
            </td>
            <td><%= menu.category %></td>
            <td><%= menu.subCategory %></td>
            <td><%= menu.price.toFixed(2) %></td>
            <td>
                <!-- <a class="me-3" href="product-details.html">
                    <img src="assets/img/icons/eye.svg" alt="img">
                </a> -->
                <a class="me-3" href="/edit-item/<%= menu._id %>">
                    <img src="assets/img/icons/edit.svg" alt="img">
                </a>
                <a class="confirm-text" href="javascript:void(0);" onclick="confirmDeleteMenu('<%= menu._id %>')">
                    <img src="assets/img/icons/delete.svg" alt="img">
                </a>
            </td>
        </tr>
    <% }) %>
    
    </tbody>
    </table>
    </div>
</div>
</div>
</div>
</div>
</div>


<script src="assets/plugins/apexchart/apexcharts.min.js"></script>
<script>
var options = {
  chart: { type: 'line', height: 300 },
  series: [{
    name: t('dash.sales'),
    data: [<%= totalEarnings.toFixed(2) %>]
  }, {
    name: t('dash.purchase'),
    data: [<%= totalPurchaseAmount.toFixed(2) %>]
  }],
  colors: ['#28c76f', '#ea5455'],
  xaxis: { categories: ['Today'] },
  title: { text: t('dash.today_sales_purchases'), align: 'center' }
};
var chart = new ApexCharts(document.querySelector('#sales_charts'), options);
chart.render();

<% if (orderTypeBreakdown.length > 0) { %>
  var orderLabels = [<% orderTypeBreakdown.forEach(function(o,i){ %><%= i>0 ? ',' : '' %>'<%= o._id %>'<% }); %>];
  var orderCounts = [<% orderTypeBreakdown.forEach(function(o,i){ %><%= i>0 ? ',' : '' %><%= o.count %><% }); %>];
  new ApexCharts(document.querySelector('#orders_chart'), {
    chart: { type: 'donut', height: 280 },
    series: orderCounts,
    labels: orderLabels,
    colors: ['#28c76f', '#ff9f43', '#7367f0'],
    title: { text: t('dash.orders'), align: 'center' }
  }).render();
<% } %>

<% if (expensesByCategory.length > 0) { %>
  var expLabels = [<% expensesByCategory.forEach(function(e,i){ %><%= i>0 ? ',' : '' %>'<%= e._id || t('dash.category') %>'<% }); %>];
  var expAmounts = [<% expensesByCategory.forEach(function(e,i){ %><%= i>0 ? ',' : '' %><%= e.total %><% }); %>];
  new ApexCharts(document.querySelector('#expenses_chart'), {
    chart: { type: 'bar', height: 280 },
    series: [{ name: t('dash.amount'), data: expAmounts }],
    xaxis: { categories: expLabels },
    colors: ['#ea5455'],
    title: { text: t('dash.expenses'), align: 'center' }
  }).render();
<% } %>

function confirmDeleteMenu(id) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            fetch('/api/menu/' + id, { method: 'DELETE' })
                .then(response => {
                    if (response.ok) {
                        Swal.fire('Deleted!', 'Item has been deleted.', 'success')
                            .then(() => location.reload());
                    } else {
                        Swal.fire('Error!', 'Failed to delete item.', 'error');
                    }
                });
        }
    });
}
</script>
<%- include('footer') -%>
