<%- include('header') -%>

<link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="assets/plugins/owlcarousel/owl.theme.default.min.css">
<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
<style>
    .quantity-field {
    width: 25px;
    text-align: center;
    border-radius: 30%;
}
.ordermethod {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #dee2e6;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    transition: all 0.2s;
}
.ordermethod:hover {
    border-color: #ff9f43;
    color: #ff9f43;
}
.ordermethod.selected {
    background: #ff9f43;
    color: #fff;
    border-color: #ff9f43;
}
</style>
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 col-sm-12 tabs_wrapper">
                <!-- Menu Table -->
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table datanew">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="checkboxs">
                                                <input type="checkbox" id="select-all">
                                                <span class="checkmarks"></span>
                                            </label>
                                        </th>
                                        <th>Item Name</th>
                                        <th>Category</th>
                                        <th>Sub Category</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% menus.forEach(menu => { %>
                                    <tr>
                                        <td>
                                            <label class="checkboxs">
                                                <input type="checkbox" class="product-checkbox" data-id="<%= menu._id %>" data-item="<%= menu.item %>" data-category="<%= menu.category %>" data-subcategory="<%= menu.subCategory %>" data-price="<%= menu.price.toFixed(2) %>">
                                                <span class="checkmarks"></span>
                                            </label>
                                        </td>
                                        <td class="productimgname">
                                            <a href="javascript:void(0);"><%= menu.item %></a>
                                        </td>
                                        <td><%= menu.category %></td>
                                        <td><%= menu.subCategory %></td>
                                        <td><%= menu.price.toFixed(2) %></td>
                                        <td>
                                            <a class="me-3" href="/edit-item/<%= menu._id %>">
                                                <img src="assets/img/icons/edit.svg" alt="img">
                                            </a>
                                            <a class="confirm-text" href="javascript:void(0);">
                                                <img src="assets/img/icons/delete.svg" alt="img">
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group mb-3">
                    <label data-i18n="pos.customer">Customer</label>
                    <select class="select form-control" id="customer-select">
                        <option value="" data-i18n-value="pos.walk_in">Walk-in Customer</option>
                        <% customers.forEach(function(c){ %>
                            <option value="<%= c._id %>"><%= c.name %> <%= c.phone ? '- ' + c.phone : '' %></option>
                        <% }) %>
                    </select>
                </div>
                <a href="javascript:void(0);" class="btn btn-adds mb-3" data-bs-toggle="modal" data-bs-target="#create"><i class="fa fa-plus me-2"></i><span data-i18n="pos.add_customer">Add Customer</span></a>

                <!-- customer modal -->
                <div class="modal fade" id="create" tabindex="-1" aria-labelledby="create" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" data-i18n="pos.add_customer">Create</h5>
                          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form id="customerForm">
                            <div class="row">
                              <div class="col-lg-6 col-sm-12 col-12">
                                <div class="form-group">
                                  <label data-i18n="form.customer_name">Customer Name</label>
                                  <input type="text" value=""  id="customerName" class="form-control">
                                </div>
                              </div>
                              <div class="col-lg-6 col-sm-12 col-12">
                                <div class="form-group">
                                  <label data-i18n="form.phone">Phone</label>
                                  <input type="tel" value="" id="customerPhone" pattern="[0-9+\- ]*" class="form-control">
                                </div>
                              </div>
                              <div class="col-lg-6 col-sm-12 col-12">
                                <div class="form-group">
                                  <label data-i18n="form.address">Address</label>
                                  <input type="text" value="" id="customerAddress" class="form-control">
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <a class="btn btn-submit me-2" id="submit-button" data-i18n="form.submit">Submit</a>
                                <a class="btn btn-cancel" data-bs-dismiss="modal" data-i18n="form.cancel">Cancel</a>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>


                <!-- Billing Summary -->

                <div class="card card-order">
                    <div class="card-body pt-0">
                        <div class="totalitem">
                            <h4><span data-i18n="pos.total_items">Total items:</span> <span id="total-items">0</span></h4>
                            <a href="javascript:void(0);" id="clear-all" data-i18n="pos.clear_all">Clear all</a>
                        </div>
                        <div class="product-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th data-i18n="pos.item_name">Item Name</th>
                                        <th data-i18n="pos.qty">Quantity</th>
                                        <th data-i18n="pos.price">Price</th>
                                        <th data-i18n="pos.action">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="billing-items">
                                    <!-- Each item will be added here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="split-card"></div>
                    <div class="card-body pt-0 pb-2">
                        <div class="setvalue">
                            <ul>
                                <li>
                                    <h5 data-i18n="pos.subtotal">Subtotal</h5>
                                    <h6 id="subtotal">0.00</h6>
                                </li>
                                <li>
                                    <h5 data-i18n="pos.tax">Tax</h5>
                                    <h6 id="tax">0.00</h6>
                                </li>
                                <li class="total-value">
                                    <h5 data-i18n="pos.total">Total</h5>
                                    <h6 id="total">0.00$</h6>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <textarea rows="4" id="order-comment" class="form-control"  style="width: 400px;" placeholder="Enter comment / Address..." data-i18n-placeholder="pos.comment"></textarea>
                        </div>
                         <br>
                        
                        <div class="setvaluecash">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" id="dinein" class="ordermethod" data-i18n="pos.dine_in">
                                        Dine In
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="takeaway" class="ordermethod" data-i18n="pos.take_away">
                                        Take Away
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="online" class="ordermethod" data-i18n="pos.online">
                                        Online
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="btn-totallabel">
                            <h5><button id="checkout-button" data-i18n="pos.checkout">Checkout</button></h5>
                            <h6 id="checkout-total">0.00$</h6>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const checkboxes = document.querySelectorAll('.product-checkbox');
    const billingItems = document.getElementById('billing-items');
    const subtotalEl = document.getElementById('subtotal');
    const taxEl = document.getElementById('tax');
    const totalEl = document.getElementById('total');
    const totalItemsEl = document.getElementById('total-items');
    const checkoutTotalEl = document.getElementById('checkout-total');
    const checkoutButton = document.getElementById('checkout-button');
    const submitButton = document.getElementById('submit-button');
    let selectedOrderType = '';


    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            const item = this.dataset.item;
            const price = parseFloat(this.dataset.price);

            if (this.checked) {
                addBillingItem(item, price);
            } else {
                removeBillingItem(item);
            }
            updateTotals();
        });
    });

    document.getElementById('clear-all').addEventListener('click', function () {
        billingItems.innerHTML = '';
        checkboxes.forEach(checkbox => checkbox.checked = false);
        updateTotals();
    });

    document.getElementById('dinein').addEventListener('click', function () {
            selectedOrderType = 'dine in';
            updateOrderTypeSelection('dinein');
        });

        document.getElementById('takeaway').addEventListener('click', function () {
            selectedOrderType = 'take away';
            updateOrderTypeSelection('takeaway');
        });

        document.getElementById('online').addEventListener('click', function () {
            selectedOrderType = 'online';
            updateOrderTypeSelection('online');
        });

        function updateOrderTypeSelection(selectedId) {
            document.querySelectorAll('.ordermethod').forEach(button => {
                button.classList.remove('selected');
            });
            document.getElementById(selectedId).classList.add('selected');
        }

    checkoutButton.addEventListener('click', async function () {
        if (!selectedOrderType) {
            Swal.fire('Warning', 'Please select an order type (Dine In, Take Away, or Online).', 'warning');
            return;
        }
        const items = Array.from(billingItems.querySelectorAll('tr'));
        if (items.length === 0) {
            Swal.fire('Warning', 'Please add at least one item to the order.', 'warning');
            return;
        }
        const comment = document.getElementById('order-comment').value;
        const customerId = document.getElementById('customer-select').value;
        const orderData = items.map(row => {
            return {
                menuItem: row.dataset.id,
                quantity: parseInt(row.querySelector('.quantity-field').value)
            };
        });

        const payload = { items: orderData, orderType: selectedOrderType, comment };
        if (customerId) payload.customerId = customerId;

        const response = await fetch('/api/placeorder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            });

            if (response.ok) {
                Swal.fire('Success!', 'Order placed successfully!', 'success');
                billingItems.innerHTML = '';
                document.getElementById('order-comment').value = '';
                document.getElementById('customer-select').value = '';
                checkboxes.forEach(checkbox => checkbox.checked = false);
                selectedOrderType = '';
                document.querySelectorAll('.ordermethod').forEach(btn => btn.classList.remove('selected'));
                updateTotals();
            } else {
                const errData = await response.json().catch(() => ({}));
                Swal.fire('Error!', errData.message || 'Failed to place order.', 'error');
            }
    });

    submitButton.addEventListener('click', async function () {
        const name = document.getElementById('customerName').value.trim();
        const phone = document.getElementById('customerPhone').value.trim();
        const address = document.getElementById('customerAddress').value;

        if (!name) {
            Swal.fire('Warning', 'Customer name is required.', 'warning');
            return;
        }
        if (phone && !/^[0-9+\- ]+$/.test(phone)) {
            Swal.fire('Warning', 'Phone number can only contain digits.', 'warning');
            return;
        }

        const response = await fetch('/api/customers', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name, phone, address })
        });

        if (response.ok) {
            const customer = await response.json();
            Swal.fire('Success!', 'Customer "' + customer.name + '" created successfully!', 'success');
            const select = document.getElementById('customer-select');
            const opt = document.createElement('option');
            opt.value = customer._id;
            opt.textContent = customer.name + (customer.phone ? ' - ' + customer.phone : '');
            select.appendChild(opt);
            select.value = customer._id;
            $('#create').modal('hide');
            document.getElementById('customerForm').reset();
        } else {
            const errData = await response.json().catch(() => ({}));
            Swal.fire('Error!', errData.message || 'Failed to create customer.', 'error');
        }
    });

    function addBillingItem(item, price) {
        const row = document.createElement('tr');
        row.dataset.item = item;
        row.dataset.id = getItemId(item);  // Function to get item ID from dataset
        row.innerHTML = `
            <td>${item}</td>
            <td>
                <div class="input-groups">
                    <input type="button" value="-" class="button-minus dec button">
                    <input type="text" name="child" value="1" class="quantity-field">
                    <input type="button" value="+" class="button-plus inc button">
                </div>
            </td>
            <td class="item-price">${price.toFixed(2)}</td>
            <td><a class="confirm-text" href="javascript:void(0);"><img src="assets/img/icons/delete-2.svg" alt="img"></a></td>
        `;
        row.querySelector('.confirm-text').addEventListener('click', function () {
            removeBillingItem(item);
            updateTotals();
            checkboxes.forEach(checkbox => {
                if (checkbox.dataset.item === item) {
                    checkbox.checked = false;
                }
            });
        });
        row.querySelector('.button-minus').addEventListener('click', function () {
            updateQuantity(row, -1);
        });
        row.querySelector('.button-plus').addEventListener('click', function () {
            updateQuantity(row, 1);
        });
        billingItems.appendChild(row);
    }

    function removeBillingItem(item) {
        const row = billingItems.querySelector(`tr[data-item="${item}"]`);
        if (row) {
            billingItems.removeChild(row);
        }
    }

    function updateQuantity(row, change) {
        const quantityField = row.querySelector('.quantity-field');
        let quantity = parseInt(quantityField.value);
        quantity = Math.max(1, quantity + change);
        quantityField.value = quantity;
        updateTotals();
    }

    function updateTotals() {
        let subtotal = 0;
        const rows = billingItems.querySelectorAll('tr');
        totalItemsEl.textContent = rows.length;

        rows.forEach(row => {
            const quantity = parseInt(row.querySelector('.quantity-field').value);
            const price = parseFloat(row.querySelector('.item-price').textContent);
            subtotal += quantity * price;
        });

        const tax = subtotal * 0.1; // Assuming a tax rate of 10%
        const total = subtotal + tax;

        subtotalEl.textContent = subtotal.toFixed(2);
        taxEl.textContent = tax.toFixed(2);
        totalEl.textContent = total.toFixed(2) + '$';
        checkoutTotalEl.textContent = total.toFixed(2) + '$';
    }

    function getItemId(item) {
        const checkbox = Array.from(checkboxes).find(chk => chk.dataset.item === item);
        return checkbox ? checkbox.dataset.id : null;
    }
});

</script>

<script src="assets/js/jquery-3.6.0.min.js"></script>

<script src="assets/js/feather.min.js"></script>

<script src="assets/js/jquery.slimscroll.min.js"></script>

<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/dataTables.bootstrap4.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/plugins/select2/js/select2.min.js"></script>

<script src="assets/plugins/owlcarousel/owl.carousel.min.js"></script>

<script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>

<script src="assets/js/script.js"></script>
</body>
</html>