<%- include('header') -%>

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4 data-i18n="list.suppliers_title">Suppliers List</h4>
                <h6 data-i18n="list.suppliers_sub">Manage your suppliers</h6>
            </div>
            <div class="page-btn">
                <a href="/export/suppliers/pdf" class="btn btn-added me-2"><img src="assets/img/icons/pdf.svg" alt="img" class="me-1">PDF</a>
                <a href="/export/suppliers/csv" class="btn btn-added"><img src="assets/img/icons/excel.svg" alt="img" class="me-1">CSV</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th data-i18n="table.name">Supplier Name</th>
                                <th data-i18n="table.email">Email</th>
                                <th data-i18n="table.phone">Phone</th>
                                <th data-i18n="table.address">Address</th>
                                <th data-i18n="table.action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% suppliers.forEach(function(supplier){ %>
                                <tr>
                                    <td><%= supplier.name %></td>
                                    <td><%= supplier.email || '' %></td>
                                    <td><%= supplier.phone || '' %></td>
                                    <td><%= supplier.address || '' %></td>
                                    <td>
                                        <a href="javascript:void(0);" onclick="deleteSupplier('<%= supplier._id %>')">
                                            <img src="assets/img/icons/delete.svg" alt="img">
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script>
    function deleteSupplier(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/api/suppliers/' + id, { method: 'DELETE' })
                    .then(res => {
                        if (res.ok) {
                            Swal.fire('Deleted!', 'Supplier has been deleted.', 'success')
                                .then(() => location.reload());
                        } else {
                            Swal.fire('Error!', 'Failed to delete supplier.', 'error');
                        }
                    })
                    .catch(err => {
                        Swal.fire('Error!', 'Request failed: ' + err.message, 'error');
                    });
            }
        });
    }
</script>
<%- include('footer') -%>
