<%- include('header') -%>

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4 data-i18n="list.customers_title">Customers List</h4>
                <h6 data-i18n="list.customers_sub">Manage your customers</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="assets/img/icons/filter.svg" alt="img">
                                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="assets/img/icons/search-white.svg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf" href="/export/customers/pdf">
                                    <img src="assets/img/icons/pdf.svg" alt="img">
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="csv" href="/export/customers/csv">
                                    <img src="assets/img/icons/excel.svg" alt="img">
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print" onclick="window.print()">
                                    <img src="assets/img/icons/printer.svg" alt="img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th data-i18n="table.name">Name</th>
                                <th data-i18n="table.phone">Phone</th>
                                <th data-i18n="table.address">Address</th>
                                <th data-i18n="table.created_date">Created Date</th>
                                <th data-i18n="table.action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% customers.forEach(customer => { %>
                                <tr data-customer-id="<%= customer._id %>">
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="cust-name"><%= customer.name %></td>
                                    <td class="cust-phone"><%= customer.phone %></td>
                                    <td class="cust-address"><%= customer.address %></td>
                                    <td><%= customer.createdAt.toDateString() %></td>
                                    <td>
                                        <a class="me-3" href="javascript:void(0);" onclick="editCustomer('<%= customer._id %>')">
                                            <img src="assets/img/icons/edit.svg" alt="img">
                                        </a>
                                        <a href="javascript:void(0);" onclick="confirmDeleteCustomer('<%= customer._id %>')">
                                            <img src="assets/img/icons/delete.svg" alt="img">
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/feather.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/dataTables.bootstrap4.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/plugins/select2/js/select2.min.js"></script>
<script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>
<script src="assets/js/script.js"></script>

<script>
    function editCustomer(id) {
        const row = document.querySelector(`[data-customer-id="${id}"]`);
        const name = row ? row.querySelector('.cust-name').textContent : '';
        const phone = row ? row.querySelector('.cust-phone').textContent : '';
        const address = row ? row.querySelector('.cust-address').textContent : '';
        Swal.fire({
            title: 'Edit Customer',
            html: `
                <input id="swal-name" class="swal2-input" value="${name}" placeholder="Name">
                <input id="swal-phone" class="swal2-input" value="${phone}" placeholder="Phone">
                <input id="swal-address" class="swal2-input" value="${address}" placeholder="Address">
            `,
            showCancelButton: true,
            confirmButtonText: 'Update',
            preConfirm: () => {
                return fetch('/customers/' + id, {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        name: document.getElementById('swal-name').value,
                        phone: document.getElementById('swal-phone').value,
                        address: document.getElementById('swal-address').value
                    })
                }).then(res => {
                    if (res.ok) { Swal.fire('Updated!', '', 'success').then(() => location.reload()); }
                    else { Swal.fire('Error!', 'Failed to update.', 'error'); }
                });
            }
        });
    }

    function confirmDeleteCustomer(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/customers/' + id, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            Swal.fire('Deleted!', 'Customer has been deleted.', 'success')
                                .then(() => location.reload());
                        } else {
                            Swal.fire('Error!', 'Failed to delete customer.', 'error');
                        }
                    })
                    .catch(err => {
                        Swal.fire('Error!', 'Request failed: ' + err.message, 'error');
                    });
            }
        });
    }
</script>

</body>
</html>
